.card {
  width: 100%;
  max-width: 450px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.thumbnail {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.metaTitle {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 8px;
}

.text {
  display: block;
  color: #888;
}

.stats {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}